@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: rgb(255, 255, 255);
    --background_color: #f4f4f4;
    --grey: #333;
    --black: #222;
    --shadow: 0 4px 12px rgba(45, 60, 49, 0.1);

}

body {
    max-width: 10240px;
    width: clamp(400px, 80vw, 750px);
    background-color: var(--background_color);
    margin: auto;
    margin-top: 3vh;
}

main {
    font-family: "Zain", sans-serif;
    background-color: var(--white);
    padding: 0.3rem;
    margin-bottom: 2rem;
    box-shadow: var(--shadow);
    border-radius: 8px;
    /* animation */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.is-loaded {
    opacity: 1;
    transform: translateY(0);

}


main h1 {
    font-size: clamp(1.8rem, 3.5vw, 2.5rem)
}

main h2 {
    color: var(--black);
    font-size: min(1.2rem, 3.5vw);
}

main h3 {
    color: var(--grey);
    font-size: min(1rem, 3vw);
}

main p {
    color: var(--grey);
    font-size: min(0.9rem, 2.8vw);
}

section {
    margin: 1rem;
}

section h2,
section h3 {
    margin-top: 0.5rem;
}

section p {
    margin-top: 0.3rem;
}

.link {
    margin-top: 1rem;
}

img {
    width: min(0.9rem, 2.8vw);
}

a {
    text-decoration: none;
}