@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gloria Hallelujah", Arial, Helvetica, sans-serif;

}

:root {
    --background: #ededed;
    --page: #ffffff;
    --inputform: #f2f2f2;
}

body {
    background-color: var(--background);
}

header {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 2rem auto;
}

main {
    margin: auto;
    width: 80%;
    background-color: var(--page);
    /* grid */
    display: grid;
    grid-template-areas:
        "navbar navbar navbar navbar"
        "hero hero image image"
        "hero hero image image"
        "hero hero image image"
        "hero hero image image"
        "cat cat cat cat"
        "cat cat cat cat"
        "cat cat cat cat"
        "footer footer footer footer"
        "footer footer footer footer"
    ;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, 100px);


}



main header {
    grid-area: navbar;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;

}


main header h2 {
    font-weight: 100;
    display: block;
    grid-area: title;
}

main header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main header nav ul li {
    list-style-type: none;
    margin: 0 1rem;
}

main header ul li a {
    text-decoration: none;
}



/* ============= HERO ============= */
main .hero {
    grid-area: hero;
    padding-left: 3rem;

}

main .picture {
    grid-area: image;
    display: flex;
    justify-content: center;

}

main .category {
    margin-top: 2rem;
    grid-area: cat;
    text-align: center;
}

main .category .boxes {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

main .category .boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: var(--page);
    grid-area: footer;
    text-align: center;
    margin: 1rem;
}

/* media query */

@media only screen and (max-width: 1024px) {
    main {
        background-color: red;
        width: 98%;
    }
}